* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Rubik', sans-serif;
  font-family: 'Hammersmith One', sans-serif;

}

h1 {
  font-family: 'Hammersmith One', sans-serif;
  
    color: #ffffff
}

table {
    width: 100%;
    min-width: 600px;
}

table,th, td {
    padding: 20px;
  border: 2px solid #606060;
  border-collapse: collapse;
    font-size:19px;
    color:#cacaca;
    background-color: #000000;

}


